<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div>
<!--                | means OR operator-->
                <strong>{{message|safe}}</strong>
            </div>
        {% endfor %}
    {% else %}
    {{order}}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
        <label for="file1"> Upload a file</label>
        <input class="form-control" type="file" id="file1" name="file">
        </div>
        <small>Only accepts CSV files</small>
        <button type="submit" class="btn btn-info" >Upload</button>
    </form>
    {% endif %}
    <table class="table table-striped">
  <thead class="thead-dark">
    <tr>


 
 
  
      <th scope="col">Name</th>
      <th scope="col">job title </th>
      <th scope="col">department </th>
      <th scope="col">full_or_part_time </th>
      <th scope="col">salary_or_hourly </th>
      <th scope="col">typical_hours </th>
      <th scope="col">annual_salary</th>
      <th scope="col">hourly_rate</th>
    </tr>
  </thead>
  <tbody>
    {% for profile in profiles %}
    <tr>
      <th>{{profile.name}}</th>
      <td>{{profile.job_title}}</td>
      <td>{{profile.department}}</td>
      <td>{{profile.full_or_part_time}}</td>
      <td>{{profile.salary_or_hourly}}</td>
      <td>{{profile.typical_hours}}</td>
      <td>{{profile.annual_salary}}</td>
      <td>{{profile.hourly_rate}}</td>
    </tr>
  
    
    {% endfor %}
    </tbody>
</table>
    
</body>
</html>